
<!-- <table *ngIf="maintenanceRequests.length > 0">
    <thead>
      <tr>
        <th>Maintenance ID</th>
        <th>Device Name</th>
        <th>Room Name</th>
        <th>Maintenance Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let maintenance of maintenanceRequests">
        <td>{{ maintenance.maintenanceId }}</td>
        <td>{{ maintenance.deviceName }}</td>
        <td>{{ maintenance.roomName }}</td>
        <td>{{ maintenance.maintenanceType }}</td>
        <td>{{ maintenance.status }}</td>
      </tr>
    </tbody>
  </table> -->
  <div class="maintenance-requests">
    <h2 class="text-3xl font-bold text-gray-900 mb-6 text-center mt-10">Maintenance Requests</h2>
    <div class="flex justify-center items-center h-40 w-40 bg-gray-100 mx-auto rounded-lg">
      <img 
        src="https://w7.pngwing.com/pngs/476/886/png-transparent-man-holding-wrench-preventive-maintenance-total-productive-maintenance-predictive-maintenance-planned-maintenance-repair-service-hand-people-thumbnail.png" 
        class="w-24 h-24"
        alt="Maintenance Icon"
      >
    </div>
    
    <!-- Maintenance Requests Table -->
    <table *ngIf="maintenanceRequests.length > 0" class="table-auto border-collapse border border-gray-300 w-full mt-10">
      <thead>
        <tr>
          <th class="border px-4 py-2">Maintenance ID</th>
          <th class="border px-4 py-2">Device Name</th>
          <th class="border px-4 py-2">Room Name</th>
          <th class="border px-4 py-2">Maintenance Type</th>
          <th class="border px-4 py-2">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maintenance of maintenanceRequests">
          <td class="border px-4 py-2">{{ maintenance.maintenanceId }}</td>
          <td class="border px-4 py-2">{{ maintenance.deviceName }}</td>
          <td class="border px-4 py-2">{{ maintenance.roomName }}</td>
          <td class="border px-4 py-2">{{ maintenance.maintenanceType }}</td>
          <td class="border px-4 py-2">{{ maintenance.status }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- No Maintenance Requests Message -->
    <div *ngIf="maintenanceRequests.length === 0" class="text-center py-12 shadow-lg bg-white p-4">
      <p class="text-gray-600 text-lg">No maintenance requests available.</p>
    </div>
  </div>
  